body{
	top: 60%;
	font-family: "open Sans", sans-serif;
	background-image: url("oil4.jpg");
	background-size: cover;
	position: relative;
	margin:center;
	text-align:left;
	color: white;

}


#result{
	width: 40%;
/*	border-style: inset;*/
	padding: 0px 20px 5px 10px;
	text-align: left;
	margin: 40px, 40px, 20px, 20px;
	color: orange;
}

#resultAdd{
	width: 40%;
	/*border-style: inset;*/
	padding: 0px 20px 5px 10px;
	text-align: left;
	margin: 40px, 40px, 20px, 20px;
	color: orange;
}

#fontColor{
	color: lightblue;
}
